.head-container {
  min-height: 480px !important;
}

.header-inner-bottom {
  padding-top: 35px;
}

.tk-logo {
  position: fixed;
  text-align: center;
  top: 0;
  height: 60px;
  z-index: 2000;
}

.tk-logo img {
  width: 50px;
  height: 50px;
}

.text-box {
  max-width: 768px;
  margin: 0 auto;
  width: 90%;
  text-align: left;
  display: flex;
  align-items: center;
}

.text-box .title {
  font-size: 6rem;
  color: #000000;
}

.text-box .sub-title {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 0px;
}

.link-wrap {
  display: block;
}

.btn-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  z-index: 1000;
}

@media (max-width: 640px) {
  .text-box .title {
    font-size: 4rem;
    color: #fff;
  }
  .text-box .sub-title {
    font-size: 1.0rem;
    color: #fff;
    margin-top: -5px;
  }
  .text-box .sub-title-k {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #fff;
  }
  .text-box .title-b {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #fff;
  }
  .arrow img {
    width: 50px;
    height: 50px;
    position: relative;
  }
  .fullpage-content {
    height: 57vh !important;
  }
  .parallax img {
    width: 640px;
  }
  .btn-top {
    bottom: 5px;
    right: 5px;
  }
}

.my-parallax {
  /* The image used */
  background-image: url("../images/phpscreen.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0%;
}
