.head-container {
  min-height: 480px !important;
}

.header-inner-bottom {
  padding-top: 35px;
}

.tk-logo {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  height: 60px;
  z-index: 2000;
}

.tk-logo img {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.text-box {
  max-width: 768px;
  margin: 0 auto;
  width: 90%;
  text-align: left;
  display: flex;
  align-items: center;
}

.text-box .title {
  font-size: 6rem;
  color: #000000;
}

.text-box .sub-title {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 0px;
}

.arrow {
  display: inline-block;
}

.arrow img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.fullpage {
  height: 100vh !important;
}

.fullpage-content {
  height: 100vh !important;
}

.fullpage-content-half {
  height: 50vh !important;
}

.link-wrap {
  width: 100%;
  display: block;
}

.btn-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  z-index: 1000;
}

@media (max-width: 640px) {
  .text-box .title {
    font-size: 4rem;
    color: #fff;
  }
  .text-box .sub-title {
    font-size: 1.0rem;
    color: #fff;
    margin-top: -5px;
  }
  .text-box .sub-title-k {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #fff;
  }
  .text-box .title-b {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #fff;
  }
  .arrow img {
    width: 50px;
    height: 50px;
    position: relative;
  }
  .fullpage-content {
    height: 57vh !important;
  }
  .parallax img {
    width: 640px;
  }
  .btn-top {
    bottom: 5px;
    right: 5px;
  }
}

/* Reset CSS
 * --------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}


/* Custom CSS
 * --------------------------------------- */

body {
  font-family: arial, helvetica;
  color: #F2F2F2;
}

h1 {
  font-size: 6em;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
