
body {
    margin: 0;
    font-size: 2em;
}

h1, p {
    margin: 0;
}

.container {
    background: pink;
}

.item {
    padding: 5%;
}

.item-a {
    background-color: yellow;
}

.item-b {
    background-color: yellowgreen;
}
